.aboutus{
    background-color: white;
   padding: 1%;
   margin-top: 90%;
   
}


.aboutus>pre:nth-child(2)
{
  font-size: 20px;
  font:url("fontmy.ttf");
  margin-left: 55px;
  
}
.aboutus>pre:nth-child(4)
{
  margin-left: 450px;
  align-items: center;
}
.aboutus>span:nth-child(6)
{
  margin-left: 570px;
  font-size: 40px;
}
.aboutus>pre:nth-child(8)
{
  font-size: 18px;
  font:url("fontmy.ttf");
  margin-left: 580px;
  
}


/* pragya part */
body{
  background-color: rgb(245, 217, 192);
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
}

/* styling search bar */
.search input[type=text]{
width:300px;
height:25px;
border-radius:25px;
border: none;
}
  
.search{
float:right;
margin:7px;
}
  
.search button{
background-color: #0074D9;
color: #f2f2f2;
float: right;
padding: 5px 10px;
margin-right: 16px;
font-size: 12px;
border: none;
cursor: pointer;
} 

nav{
  font-size: 35px;
  font-family: sans-serif;
  background-color: black;
  color: white;
}
p{
  /* margin-left: 10px; */
  display: inline-block;
}
.material-icons.md-35{
  font-size: 35px;
}
.size{
  display: inline-block;
  margin-left: 70%;
  opacity:0.8;
}
.size i{
  margin: 20px;
}

section{
  background-image: url("https://thumbs.dreamstime.com/z/study-time-words-cork-background-closeup-82883471.jpg");
  margin-top: 50px;
  background-position: center;
  margin-left: 650px;
  margin-right: 10px;
  width:50%;
  height:100%;
  position:absolute;
  background-repeat:no-repeat;

}
section p{
  margin-top:250px ;
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
}
.second_nav{
  background-color: rgba(0, 0, 0, 0.932);
  text-align: center; /*added*/
  padding: 14px;
  font-size: 25px;
}
.second_nav a{
  color:rgb(243, 225, 225);
  margin-left:30px ;
  text-decoration: none;
  font-size: 30px;

}
.second_nav a:hover{
  color:rgb(196, 43, 27);
  text-decoration-line: underline;
  text-decoration:rgb(202, 193, 195);
  text-shadow: darkcyan;
}

.second_nav i{
  margin-left:25px;
}
#about{
  margin-top:100px;
  font-size: 40px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 900px;
}
button{
  padding: 20px 60px;
  text-decoration: none;
  text-align: center;
  margin-left: 100px;
  font-size: 20px;
  background-color:tomato;
  color: white;
  border-radius: 10px;

}
button:hover{
  color:black;
  background-color: yellowgreen;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 1 0 40px 0;
  display: inline-block;
  border-style:double;
  background: #f7f7f7;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(176, 240, 248);
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #fd1810;
  color: rgb(236, 236, 236);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  opacity: 0.8;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color:rgb(184, 19, 184);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  margin-left: 14%;
  width: 30%;
}

/* Add padding to container elements */
.container {
  padding: 40px;
  
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position:fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100% ;/* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:#afbedf;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  height: 615px;
  background-color: #b7f7ee;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid rgb(0, 0, 0);
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;

  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.new{
  margin-left: 100px;
  display: inline-block;
  background-color: rgb(255, 133, 89);
  color: black;
}
.signupbtn:hover,.cancelbtn:hover{
  background-color: darksalmon;
  color: black;
}
.container p,h1{
  font-size: 25px;
}
.sec_img {
  background-image: url("https://previews.123rf.com/images/microone/microone1611/microone161100331/66410951-quizzes-school-exam-quiz-vector-abstract-background-questionnaire-quiz-study-illustration.jpg");
  float:left;
  margin-top: 400px;
  width:50%;
  margin-left: 10px;
  height: 700px;
  background-position: center;
}
.sec_img p{
  margin-left:800px;
  font-size: 35px;
  width:50%;
}

/* kinjal part  */
.section{
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.image {
  display: inline-block;
   margin-left: 40px;
   margin-top: 25px;
  position: relative;
  width: 280px;
  transition: 0.8s ease-out;
}
.image:hover {
  transform: translateY(20px);
  opacity: 0.8;
}
.image_img {
  display: block;
  width: 280px;
  height: 360px;
  border-radius: 15px;
}
.image_overlay {
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #20f1e7;
  font-family: "Jazz LET", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1.2s ease;
}
.image_overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image_overlay:hover {
  opacity: 1;
}
.image_overlay:hover > * {
  transform: translateY(0);
}
.image_title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  font-style:oblique;
}
.image_description {
  font-size: 1.25em;
  margin-top: 0.25em;
  text-align: center;
}
button {
  padding: 10px;
  margin: 15px;
  outline: none;
  border: none;
  margin-bottom: 25px;
  border-radius: 43px;
  background: rgb(172, 239, 241);
  color: black;
  font-weight:500;
  cursor: pointer;
  transition: 0.4s ease;
}
button:hover {
  background: dodgerblue;
  color: white;
}
button:hover > * {
  transform: translateY(0);
} 

/* table content */
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: rgb(13, 2, 77);
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 20px;
  color: white;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.sectionQuiz{
background: -webkit-linear-gradient(left, #7ef3e9, #2565c4);
background: linear-gradient(to right, #7ef3e9, #2565c4);
font-family: 'Roboto', sans-serif;
}
.sectionQuiz{
margin: 50px;
}

/* Create  */
.checkmark{
list-style: none;
font-size: 25px;
padding-left: 100px;
}

.checkmark li::before{
content: "\2713\0020";
color: #0074D9;
font-size: 22px;
font-weight: 900;
}

.createButton {
background-color: #e67572;
padding: 16px;
border: none;
opacity: 0.8;
text-align: center;
justify-content: center;
}

